<!--views/profile.ejs -->
<!doctype html>

<html>
<head>
	<title>Middl</title>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script src='strophe.js'></script>
	<script src='facebook.js'></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.js"></script>
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="test.css">

	<script>
		frienddict = {};
		archive = <%- JSON.stringify(user.facebook.archive) %>;
		username = <%- JSON.stringify(user.facebook.id) %>;

  //get chat entry that appears on the left
	function generateRightMessageItem(id, msg, timestamp) {
		return '<li class="right clearfix"><span class="chat-img pull-right">' +
			'<img src="http://graph.facebook.com/' + id + '/picture" alt="User Avatar"  />' + 
			'</span>' + 
			'<div class="chat-body clearfix">' + 
			'<div class="header">' + 
			'<small><span class="glyphicon glyphicon-time"></span>' + timestamp + '</small>' + 
			'<strong class="pull-right primary-font">' + frienddict[id] + '</strong>' +
			'</div>' + 
			'<p class="pull-right">' + msg + '</p></div></li>';
	}
  
  //get chat entry that appears on the right
  function generateLeftMessageItem(id, msg, timestamp) {
		return '<li class="left clearfix"><span class="chat-img pull-left">' +
			'<img src="http://graph.facebook.com/' + id + '/picture" alt="User Avatar"  />' + 
			'</span>' + 
			'<div class="chat-body clearfix">' + 
			'<div class="header">' + 
			'<strong class="primary-font">' + frienddict[id] + '</strong> <small class="pull-right">' + 
			'<span class="glyphicon glyphicon-time"></span>' + timestamp + '</small>' + 
			'</div>' + 
			'<p>' + msg + '</p></div></li>';
	}

		$(document).bind('FBSDKLoaded', function() {
			FB.getLoginStatus(function(response) {
				if (response.authResponse) {

					FB.api('/me/friends', function(response) {
							 $.each(response.data, function(idx, value) {
								 frienddict[value.id] = value.name;
							 });
								$.each(archive, function(idx, value) {
									$(".archiveSelector").append(
										$("<option></option>").text(frienddict[value.sender] + "|" + frienddict[value.receiver] + "|" + value.timestamp).val(value.sender + "|" + value.receiver + "|" + username)
										);
									});
				$(".archiveSelector").select2();
					});
					console.log(FB);
				}
			});

			$("#delButton").click(function() {
				var parameters = {id: "" + username, sender: $(".archiveSelector :selected").val().split("|")[0], receiver: $(".archiveSelector :selected").val().split("|")[1]};

				$.post("http://middl.net/delarchive", parameters, function(data) {
					location.reload();
					});
				});


			$(".archiveSelector").change(function() {
				var parameters = {pair: $(this).val()};
				var sender = $(this).val().split("|")[0];
				var receiver = $(this).val().split("|")[1];
				console.log(parameters);
				$.post("http://middl.net/fetchrecord", parameters, function(data) {
					  var messageList = JSON.parse(data);
						$(".chat").empty();
						for (var i = 0; i < messageList.length; i++) {
							if (messageList[i].author === "SENDER") {
								$(".chat").append(generateLeftMessageItem(sender, messageList[i].message, messageList[i].timestamp));
							}
							else {
								$(".chat").append(generateRightMessageItem(receiver, messageList[i].message, messageList[i].timestamp));
							}
						}

							$(".panel-footer").show();
				});
			});



		});

  </script>

</head>
<body>
<div id="fb-root"></div>
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="#"><%= user.facebook.name %></a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li><a href="/profile">Conversations</a></li>
         <li class="active"><a href="#">Archive</a></li>
         <li><a href="/faq">FAQ</a></li>
         <li><a href="/namereplace">Name Replacement</a></li>
         <li><a href="/contact">Contact</a></li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li class="pull-right"><a href="/logout">Logout</a></li>
      </ul>
   </div>
</nav>
<div class="container">




	<div class="row mainrow">
		    <div class="col-sm-12 col-md-12">
            <div class="chatdiv panel panel-primary panelmain">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;Find Old Conversations
                </div>
								<div class="panel-add">
				<select style="margin-top:10px;margin-bottom:10px;margin-left:10px;width:50%;color:black" class="archiveSelector"> 
				<option value="">Select a conversation</option>
				</select>
								</div>
						</div>


				</div>
        <div class="col-sm-12 col-md-12">
            <div class="chatdiv panel panel-primary panelmain">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-file"></span> &nbsp;&nbsp;Archived Chat
                </div>
                <div class="panel-chat">
                    <ul class="chat">
                    </ul>
                </div>
<div style="display:none" class="panel-footer">
                        <button class="btn btn-danger btn-small" id="delButton"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp; Delete from Archive </button>
                    </div>
                </div>
            </div>
        </div>




	</div>
	<div id="footer" style="position:fixed;left:0;bottom:0;right:0;text-align:center">
		Copyright &copy; 2014 &middot; All Rights Reserved &middot; <a href="http://www.middl.net"> Middl </a>
																											        </div>

</div>
	<script>
  window.fbAsyncInit = function() {
	     FB.init({appId: '321198970642', status: true, cookie: true,
			              xfbml: true});

		     jQuery(document).trigger('FBSDKLoaded');
	
		     if (window.fbAsyncInited) {
			     fbAsyncInited();
			   }
	   };
   (function() {
		     var e = document.createElement('script');
		     e.async = true;
		     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		     document.getElementById('fb-root').appendChild(e);
		   }());
 </script>
</body>
</html>

