<!--views/profile.ejs -->
<!doctype html>

<html>
<head>
	<title>Middl</title>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script src='strophe.js'></script>
	<script src='facebook.js'></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.js"></script>
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="default.css">

	<script>
		frienddict = {};
		archive = <%- JSON.stringify(user.facebook.archive) %>;
		username = <%- JSON.stringify(user.facebook.id) %>;

		$(document).bind('FBSDKLoaded', function() {
			FB.getLoginStatus(function(response) {
				if (response.authResponse) {

					FB.api('/me/friends', function(response) {
							 $.each(response.data, function(idx, value) {
								 frienddict[value.id] = value.name;
							 });
								$.each(archive, function(idx, value) {
									$(".archiveSelector").append(
										$("<option></option>").text(frienddict[value.sender] + "|" + frienddict[value.receiver] + "|" + value.timestamp).val(value.sender + "|" + value.receiver + "|" + username)
										);
									});
					});
					console.log(FB);
				}
			});

			$(".delButton").click(function() {
				var parameters = {id: "" + username, sender: $(".archiveSelector :selected").val().split("|")[0], receiver: $(".archiveSelector :selected").val().split("|")[1]};

				$.post("http://middl.net/delarchive", parameters, function(data) {
					location.reload();
					});
				});


			$(".archiveSelector").change(function() {
				var parameters = {pair: $(this).val()};
				var sender = $(this).val().split("|")[0];
				var receiver = $(this).val().split("|")[1];
				console.log(parameters);
				$.post("http://middl.net/fetchrecord", parameters, function(data) {
					  var messageList = JSON.parse(data);
						$(".archiveDisplay").empty();
						for (var i = 0; i < messageList.length; i++) {
							var divToAdd = $("<div></div>");
							if (messageList[i].author === "SENDER") {
								var msgToAdd = $('<blockquote class="example-right"></blockquote>').append(
									$('<p></p>').text(messageList[i].message)
								);
								divToAdd.append(msgToAdd);
								divToAdd.append($('<p></p>').html("<b>" + frienddict[sender] + "</b> " + messageList[i].timestamp));
							}
							else {
								var msgToAdd = $('<blockquote class="example-obtuse"></blockquote>').append(
									$('<p></p>').text(messageList[i].message)
								);
								divToAdd.append(msgToAdd);
								divToAdd.append($('<p></p>').html("<b>" + frienddict[receiver] + "</b> " + messageList[i].timestamp));
							}

							$(".archiveDisplay").append(divToAdd);
							$(".delButton").show();
						}
				});
			});



		});

  </script>

	<style>
  #person1 {width:90%}
  #person2 {width:90%}
  #dialog label, #dialog input { display:block; }
  #dialog label { margin-top: 0.5em; }
  #dialog input, #dialog textarea { width: 95%; }
  #tabs { margin-top: 1em; }
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #add_tab { cursor: pointer; }
  .container, html, body {height: 100%}
	div.well {height: 100%}
	div.row.mainrow {height: 80%}
	div.col-sm-12 {height: 100%}
	#tabs {height: calc(100% - 67px)}
	.ui-tabs-panel {overflow-y:scroll; height: calc(100% - 67px)}
	.navlink {font-size:1.5em}
	body {margin-top:20px}
  </style>
</head>
<body>
<div id="fb-root"></div>
<div class="container">


		<div class="row">
		<div class="col-sm-12">
		<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
		 <a class="navbar-brand navhead" style="color:black;font-family:arial,sans-serif" href="https://www.facebook.com/middlnet"><img style="max-width:40px;margin-top:-20px;margin-bottom:-16px" src="middl.jpg">&nbsp;&nbsp;<%= user.facebook.name %></a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a class="navlink" href="/profile">Conversations</a></li>
				 <li><a class="navlink" href="/howitworks">How it Works</a></li>
         <li class="active"><a class="navlink" href="#">Archive</a></li>
         <li><a class="navlink" href="/faq">FAQ</a></li>
				 <li><a class="navlink" href="/namereplace">Name Replacement</a></li>
         <li><a class="navlink" href="/contact">Contact</a></li>
				 <li><a class="navlink" href="/logout">Logout</a></li>
      </ul>
   </div>
</nav>
	 </div>

</div>

	<div class="row mainrow">


		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
			
				<h1> Archive: Read your old Middl conversations here! </h1>


				<div style="margin-top:10px" class="row" align="center">

				<select style="width:50%" class="archiveSelector"> 
				<option value="" disabled selected>Select a conversation</option>
				</select>

				</div>


				<div style="height:calc(100% - 110px);margin-top:10px;overflow-y:scroll" class="archiveDisplay"></div>

				<div style="display:none" class="row delButton" align="center">
					<button class="btn btn-danger btn-small"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete from Archive</button>
				</div>

			</div>
		</div>


	</div>

</div>
	<script>
  window.fbAsyncInit = function() {
	     FB.init({appId: '321198970642', status: true, cookie: true,
			              xfbml: true});

		     jQuery(document).trigger('FBSDKLoaded');
	
		     if (window.fbAsyncInited) {
			     fbAsyncInited();
			   }
	   };
   (function() {
		     var e = document.createElement('script');
		     e.async = true;
		     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		     document.getElementById('fb-root').appendChild(e);
		   }());
 </script>
</body>
</html>

