<!--views/contact.ejs -->
<!doctype html>

<html>
<head>
	<title>Middl</title>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script src='strophe.js'></script>
	<script src='facebook.js'></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.js"></script>
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="test.css">
	
	<link rel="stylesheet" href="bootstrap.css">

</head>
<body>
<div id="fb-root"></div>
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="#"><%= user.facebook.name %></a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li><a href="/profile">Conversations</a></li>
         <li><a href="/archive">Archive</a></li>
         <li><a href="/faq">FAQ</a></li>
         <li><a href="/namereplace">Name Replacement</a></li>
         <li class="active"><a href="#">Contact</a></li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li class="pull-right"><a href="/logout">Logout</a></li>
      </ul>
   </div>
</nav>
<div class="container">
	<div class="row mainrow">


		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
			
				<h1> Contact </h1>
        <font size="3">
					<p> You can contact us by sending a message to <a href="mailto:info@middl.net"> info@middl.net </a>. </p>	
				</font>
		
			</div>
		</div>


	</div>

</div>
	<script>
  window.fbAsyncInit = function() {
	     FB.init({appId: '321198970642', status: true, cookie: true,
			              xfbml: true});

		     jQuery(document).trigger('FBSDKLoaded');
	
		     if (window.fbAsyncInited) {
			     fbAsyncInited();
			   }
	   };
   (function() {
		     var e = document.createElement('script');
		     e.async = true;
		     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		     document.getElementById('fb-root').appendChild(e);
		   }());
 </script>
</body>
</html>

