<!--views/faq.ejs -->
<!doctype html>

<html>
<head>
	<title>Middl</title>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script src='strophe.js'></script>
	<script src='facebook.js'></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.js"></script>
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="default.css">

	<style>
  #person1 {width:90%}
  #person2 {width:90%}
  #dialog label, #dialog input { display:block; }
  #dialog label { margin-top: 0.5em; }
  #dialog input, #dialog textarea { width: 95%; }
  #tabs { margin-top: 1em; }
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #add_tab { cursor: pointer; }
  .container, html, body {height: 100%}
	div.well {height: 100%}
	div.row.mainrow {height: 80%}
	div.col-sm-12 {height: 100%}
	#tabs {height: calc(100% - 67px)}
	.ui-tabs-panel {overflow-y:scroll; height: calc(100% - 67px)}
	.navlink {font-size:1.5em}
	body {margin-top:20px}
  </style>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	
</head>
<body>
<div id="fb-root"></div>
<div class="container">


		<div class="row">
		<div class="col-sm-12">
		<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
		 <a class="navbar-brand navhead" style="color:black;font-family:arial,sans-serif" href="https://www.facebook.com/middlnet"><img style="max-width:40px;margin-top:-20px;margin-bottom:-16px" src="middl.jpg">&nbsp;&nbsp;<%= user.facebook.name %></a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a class="navlink" href="/profile">Conversations</a></li>
				 <li><a class="navlink" href="/howitworks">How it Works</a></li>
         <li><a class="navlink" href="/archive">Archive</a></li>
         <li class="active"><a class="navlink" href="#">FAQ</a></li>
				 <li><a class="navlink" href="/namereplace">Name Replacement</a></li>
         <li><a class="navlink" href="/contact">Contact</a></li>
				 <li><a class="navlink" href="/logout">Logout</a></li>
      </ul>
   </div>
</nav>
	 </div>

</div>

	<div class="row mainrow">


		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-12">
			<div class="well" style="overflow-y:scroll;">
			
				<h1> Frequently Asked Questions </h1>
		    
				<font size="3">

					<div class="faqitem">
					<p><b>Q:</b> How do I start a Middl conversation?</p>
					<p><b>A:</b> Click "Conversations" on the main naviation bar, and click "Add Conversation". Select your two friends and the starting message. Click "Add". </p>
				  </div> 
					
					<div class="faqitem">
					<p><b>Q:</b> How do I delete a Middl conversation?</p>
					<p><b>A:</b> Simply close the conversation tab. </p>
				  </div> 

					<div class="faqitem">
					<p><b>Q:</b> What do the "Warn Sender", "Warn Receiver", and "Reveal" buttons do?</p>
					<p><b>A:</b> Warn sender lets the first person know the true identity of the second. Warn receiver lets the second person know the true identity of the first. Reveal lets both know. </p>
				  </div> 

					<div class="faqitem">
					<p><b>Q:</b> What is name replacement/How do I replace names? </p>
					<p><b>A:</b> Click on "Name Replacement" in the main navigation bar, and follow the instructions. </p>
				  </div> 
					
					<div class="faqitem">
					<p><b>Q:</b> How do I see old conversations? </p>
					<p><b>A:</b> Click on "Archive" in the main navigation bar, and follow the instructions.  </p>
				  </div> 



				</font>
				
				  
			</div>
		</div>


	</div>

</div>
	<script>
  window.fbAsyncInit = function() {
	     FB.init({appId: '321198970642', status: true, cookie: true,
			              xfbml: true});

		     jQuery(document).trigger('FBSDKLoaded');
	
		     if (window.fbAsyncInited) {
			     fbAsyncInited();
			   }
	   };
   (function() {
		     var e = document.createElement('script');
		     e.async = true;
		     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		     document.getElementById('fb-root').appendChild(e);
		   }());
 </script>
</body>
</html>

