<!--views/about.ejs -->
<!doctype html>

<html>
<head>
	<title>Middl</title>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script src='strophe.js'></script>
	<script src='facebook.js'></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css">
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.js"></script>
	<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="default.css">

	<script>

		nicknames = <%- JSON.stringify(user.facebook.nicknames)%>;
		username = <%- JSON.stringify(user.facebook.id) %>;

		$(document).bind('FBSDKLoaded', function() {
			FB.getLoginStatus(function(response) {
				if (response.authResponse) {
					console.log(FB);
				}
			});

			$("#nicknamesInput").val(nicknames.join());

			$("#nicknamesUpdate").click(function() {
				var cleanedlist = $("#nicknamesInput").val().replace(", ", ",");
				var parameters = {id: "" + username, nicknames: $("#nicknamesInput").val().replace(", ", ",")};

				$.post("http://middl.net/addnickname", parameters, function(data) {
					alert("Nickname list successfully updated!");
					location.reload();
				});
			});
		});
  </script>

	<style>
  #person1 {width:90%}
  #person2 {width:90%}
  #dialog label, #dialog input { display:block; }
  #dialog label { margin-top: 0.5em; }
  #dialog input, #dialog textarea { width: 95%; }
  #tabs { margin-top: 1em; }
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #add_tab { cursor: pointer; }
  .container, html, body {height: 100%}
	div.well {height: 100%}
	div.row.mainrow {height: 80%}
	div.col-sm-12 {height: 100%}
	#tabs {height: calc(100% - 67px)}
	.ui-tabs-panel {overflow-y:scroll; height: calc(100% - 67px)}
	.navlink {font-size:1.5em}
	body {margin-top:20px}
  </style>
</head>
<body>
<div id="fb-root"></div>
<div class="container">


		<div class="row">
		<div class="col-sm-12">
		<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
		 <a class="navbar-brand navhead" style="color:black;font-family:arial,sans-serif" href="https://www.facebook.com/middlnet"><img style="max-width:40px;margin-top:-20px;margin-bottom:-16px" src="middl.jpg">&nbsp;&nbsp;<%= user.facebook.name %></a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a class="navlink" href="/profile">Conversations</a></li>
				 <li><a class="navlink" href="/howitworks">How it Works</a></li>
         <li><a class="navlink" href="/archive">Archive</a></li>
         <li><a class="navlink" href="/faq">FAQ</a></li>
         <li class="active"><a class="navlink" href="#">Name Replacement</a></li>
         <li><a class="navlink" href="/contact">Contact</a></li>
				 <li><a class="navlink" href="/logout">Logout</a></li>
      </ul>
   </div>
</nav>
	 </div>

</div>

	<div class="row mainrow">


		<!-- FACEBOOK INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
			
				<h1>Name Replacement</h1>

				<font size="3">
				<p> So what happens when Alice sends "Hey <%= user.facebook.name %>!" to you, who then forwards it to Bob? Bob will be confused. Fortunately there is a solution. Put a list of all the names you go by, separated by a comma, and we will replace these with the name of the recipient.</p>
				</font>

				<input id="nicknamesInput" placeholder="Enter nicknames separated by a comma. E.g. John, Johnny, Jonathan" class="form-control" type="text"></input>
				<button style="margin-top:15px" id="nicknamesUpdate" class="btn btn-small btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; Update Name Replacement List</button>

			</div>
		</div>


	</div>

</div>
	<script>
  window.fbAsyncInit = function() {
	     FB.init({appId: '321198970642', status: true, cookie: true,
			              xfbml: true});

		     jQuery(document).trigger('FBSDKLoaded');
	
		     if (window.fbAsyncInited) {
			     fbAsyncInited();
			   }
	   };
   (function() {
		     var e = document.createElement('script');
		     e.async = true;
		     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		     document.getElementById('fb-root').appendChild(e);
		   }());
 </script>
</body>
</html>

